$media-expressions: (
  table: width "<=" 768px,
);

$unit-intervals: (
  "px": 1,
  "em": 0.01,
  "rem": 0.1,
  "": 0,
);

$media-comparison-operators: (">", ">=", "<" "<=", "==");
$media-logical-operators: ("or", "and");

$media-range-features: (
  "width",
  "height",
  "device-width",
  "device-height",
  "aspect-ratio",
  "device-aspect-ratio" "color",
  "color-index",
  "monochrome",
  "resolution"
);

@function media-parse-expression($expression) {
}

@function is-valid-comparison-operator($comparison-operator) {
  @return index($media-comparison-operators, $comparison-operator) != null;
}

@function is-range-media-feature-name($feature-name) {
  @return index($media-range-features, $feature-name) != null;
}

@function get-range-media-feature-prefix($comparison-operator) {
  @if index(("<", "<="), $comparison-operator) != null {
    @return "max-";
  } @else if index((">", ">="), $comparison-operator) != null {
    @return "min-";
  }

  @return "";
}

@function normalize-media-feature-value($comparison-operator, $value) {
  @if $comparison-operator == ">" {
    @return $value + 1px;
  } @else if $comparison-operator == "<" {
    @return $value - 1px;
  }

  @return $value;
}

@function normalize-range-media-feature-name(
  $comparison-operator,
  $media-feature-name
) {
  $media-feature-value: normalize-media-feature-value(
    $comparison-operator,
    $media-feature-value
  );
  $media-feature-name-prefix: get-range-media-feature-prefix(
    $comparison-operator
  );

  @return "#{$media-feature-name-prefix}#{$media-feature-name}";
}

@function has-list($list) {
  @each $list-item in $list {
    @if type-of($list-item) == "list" {
      @return true;
    }
  }

  @return false;
}

@function parse-expression($expressions...) {
  @if (has-list($conditions)) {
  } @else {
  }
}

@function get-expression-feature-name($expression) {
  @if length($expression) == 3 {
  }
}

@function parse-media-query($expression) {
  $media-query: null;

  @if type-of($expression) == "list" {
    $media-feature-name: nth($conditions, 1);
    $media-feature-value: null;
    $comparison-operator: null;

    @if length($expression) == 3 {
      $comparison-operator: nth($conditions, 2);
      $media-feature-value: nth($conditions, 3);

      @if not is-valid-comparison-operator($comparison-operator) {
        @error "Error: comparison operator is not valid: #{$comparison-operator}";
      }

      @if is-range-media-feature-name($media-feature-name) {
        $media-feature-name: normalize-range-media-feature-name(
          $comparison-operator,
          $media-feature-name
        );
      } @else {
        @if not $comparison-operator == "==" {
          @error "Error: media feature is not range type (doesn't have min/max prefix)";
        }
      }
    } @else if length($expression) == 2 {
      $media-feature-value: nth($conditions, 2);
    } @else if length($expression) == 1 {
    }
    // $media-query: "(#{$media-feature-name}: #{$media-feature-value})";
  } @else if type-of($expression) == "string" {
    $expression: map-get($media-expressions, $expression);

    @if $expression == null {
      @return $expression;
    }

    @return parse-media-query($expression);
  } @else {
    @error "Type error: expression '#{$expression}' should be list or string type";
  }
}

@mixin media($conditions...) {
  @if (has-list($conditions)) {
  } @else {
  }

  $media-queries: ();

  // @each $arg in $args {
  // }

  @if (type-of($conditions) == "list") {
    $media-query: null;

    @if (length($conditions) == 3) {
      $media-feature-name: nth($conditions, 1);
      $comparison-operator: nth($conditions, 2);
      $media-feature-value: nth($conditions, 3);

      @if is-range-media-feature-name($media-feature-name) {
        $media-feature-value: normalize-media-feature-value(
          $comparison-operator,
          $media-feature-value
        );
        $media-feature-name-prefix: get-range-media-feature-prefix(
          $comparison-operator
        );
        $media-feature-name: "#{$media-feature-name-prefix}#{$media-feature-name}";
      } @else {
        @if not $comparison-operator == "==" {
          @error "media feature is not range type (doesn't have min/max prefix)";
        }
      }

      $media-query: "(#{$media-feature-name}: #{$media-feature-value})";
    } @else if length($conditions) == 2 {
      $media-feature-name: nth($conditions, 1);
      $media-feature-value: nth($conditions, 2);

      $media-query: "(#{$media-feature-name}: #{$media-feature-value})";
    }

    $media-queries: append($media-queries, $media-query);
  }

  @media #{$media-queries} {
    @content;
  }
}

// @debug index($media-comparison-operators, "<");
@include media(((width ">" 768px) "or" screen) "and" width "<" 800px);
